.section-gap {
    padding: 10rem 0;
}

.section-title {
    text-align: center;
    margin-bottom: 40px;
}

.section-title h2 {
    font-size: 3rem;
}

#navigation {
    background: rgba(20, 2, 0, 0.8);
    padding: 5px 0;
    position: fixed;
    width: 100%;
    z-index: 9;
}

#navigation .row > * {
    width: unset;
}

#navigation .nav .nav-link {
    color: #ffffff;
}

#navigation .nav .nav-link:hover {
    color: #cba930;
}

/*

banner section

*/
#home {
    background: #000 url("../images/bg/header-bg.jpg");
    background-size: cover;
    height: 100vh;
}

#home .banner-content {
    color: #ffffff;
    align-items: center;
    display: flex;
    height: 780px;
    padding: 0 12%;
}

#home .carousel-control-prev {
    left: -16%;
}

#home .carousel-control-next {
    right: -16%;
}

#home .carousel-indicators {
    left: -15%;
}

#home .row {
    margin: 0 0 5rem;
}

/*

About us

*/
#about-us .video {
    position: relative;
    padding: 0;
}

#about-us .video-bg {
    width: 100%;
}

#about-us .video a {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.32);
    border-radius: 15px;
    transition: .2s all;
}

#about-us .video a:hover {
    background: rgba(0, 0, 0, 0.59);
    transition: .2s all;
}

#about-us .video-right {
    padding: 0 0 0 7rem;
}

#about-us .video-right h6 {
    color: #b68834;
}

#about-us .video-right h2 {
    font-weight: 700;
    font-size: 32px;
    margin: 0.3rem 0 0.7rem 0;
}

#about-us .video-right span {
    margin: 0.3rem 0 0.7rem 0;
    font-weight: 500;
}

#about-us .video-right img {
    margin-top: 20px;
}

/*

menu

*/
#menu {
    background: url("../images/bg/menu-bg.jpg");
}

#menu .card {
    box-shadow: 9px 8px 20px #585858b8;
}

#menu .card:hover {
    cursor: pointer;
    box-shadow: 9px 8px 20px rgba(59, 59, 59, 0.8);
}

#menu .card .card-body h5 {
    font-weight: 700;
}

#menu .card .card-body span {
    position: absolute;
    right: 20px;
    top: 16px;
    color: #b68834;
    font-weight: 700;
}


/*

kind coffee

*/
#kind-coffee img {
    margin-top: calc(var(--bs-gutter-x) * .5);
    margin-bottom: calc(var(--bs-gutter-x) * .5);
    width: 100%;
}

/*

company

*/
#company {
    background: #bd9939;
    color: #ffffff;
}

#company h5 {
    margin: 20px 0;
}

#company .stars {
    margin: 10px 0 10px 15px;
}

#company .stars {
    color: #fbd82d;
}

#company .counter h5 {
    font-size: 4rem;
    font-weight: 300;
}

/*

blog

*/
#blog img {
    width: 100%;
}

#blog a.tag {
    border: 1px solid #c1c1c1;
    padding: 10px 30px;
    margin: 20px 0;
    text-decoration: none;
    background-color: #fff;
    transition: 0.2s linear;
}

#blog a.tag:hover {
    background: #f3f3f3;
    transition: 0.2s linear;
}

#blog h5 {
    font-weight: 700;
}

#blog p {
    font-weight: 300;
}

#blog span.date-created {
    font-weight: 600;
}

/*

footer

*/
footer {
    background: #000 url("../images/bg/footer-bg.jpg");
    background-size: cover;
    color: #ffffff;
    padding-top: 15rem;
}

#button-addon2 {
    border-color: #cba930;
    color: #cba930;
}

#button-addon2:hover {
    border-color: #cba930;
    background: #cba930;
    color: #ffffff;
}

footer a {
    color: #cba930;
}

footer .footer-social {
    font-size: 24px;
}

footer .footer-social a {
    margin: 0 10px;
}

footer .footer-social a:hover {
    color: #ffffff;
}

/*

    adaptation

*/
/* X-Small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    #about-us .video-bg {
        display: block !important;
    }
    #home .carousel-control-prev {
        left: 0 !important;
    }

    #home .carousel-control-next {
        right: 0 !important;
    }

}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) {
    #about-us .video-bg {
        display: block !important;
    }
    #home .carousel-control-prev {
        left: 0 !important;
    }

    #home .carousel-control-next {
        right: 0 !important;
    }
}

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
    nav {
        flex: none;
    }

    .md-mt-4 {
        margin-top: 40px;
    }

    .md-gap {
        padding-top: 15rem;
    }

    #about-us .video a::after {
        content: "";
        height: 100%;
        width: 100%;
        background: url("../images/bg/video-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        position: absolute;
        z-index: -999;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
    }

    #about-us .video-bg {
        display: none;
    }
    .carousel-control-prev {
        left: 0 !important;
    }

    carousel-control-next {
        right: 0 !important;
    }

    /*#blog .container .row .even{*/
    /*    margin-top: 40px;*/
    /*}*/
}

/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1199.98px) {
}

/* X-Large devices (large desktops, less than 1400px)*/
@media (max-width: 1399.98px) {
}

/*
 XX-Large devices (larger desktops)
 No media query since the xxl breakpoint has no upper bound on its width*/
