<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="testing.php" method="post">
    <h2>add Users</h2>
    <label for="name"> Name:
        <input type="text" name="name" id="name">
    </label>
    <br>
    <label for="username"> Username:
        <input type="text" name="name" id="username">
    </label>
    <br>
    <label for="email"> E-mail:
        <input type="email" name="name" id="email">
    </label>
    <br>
    <label for="password"> Password:
        <input type="password" name="name" id="password">
    </label>
    <br>
    <button type="submit"> Add user</button>
</form>
</body>
</html>